<header class="py-8 md:py-10 xl:py-20">
  <div class="flex justify-between container">  
    <span class="quizz-subject"></span>
    <!-- Light/Dark theme switcher -->
    <label for="theme-toggle" class="inline-flex items-center space-x-2 md:space-x-4 cursor-pointer">
      <svg class="text-grey-navy" width="24" height="24" aria-hidden="true" focusable="false">
        <title>Light Theme Icon</title>
        <use xlink:href="#icon-sun-dark"></use>
      </svg>
      <!-- Theme toggle -->
      <span class="relative">
        <input id="theme-toggle" type="checkbox" class="hidden peer">
        <div class="w-10 h-[1.6rem] md:w-12 md:h-7 rounded-full bg-purple"></div>
        <div class="absolute inset-y-[1px] left-0 m-1 size-4 md:size-5 md:inset-y-0 rounded-full bg-white peer-checked:translate-x-full transition-all"></div>
      </span>
      <svg class="text-grey-navy" width="24" height="24" aria-hidden="true" focusable="false">
        <title>Dark Theme Icon</title>
        <use xlink:href="#icon-moon-dark"></use>
      </svg>
    </label>
  </div>
</header>