@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300 500;
    font-display: swap;
    src: url(/fonts/Rubik-VariableFont_wght.ttf) format('truetype');
  }
  
  @font-face {
    font-family: 'Rubik';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Rubik-Italic-VariableFont_wght.ttf) format('truetype');
  }
}

@layer components {
  /* Options list */
  .options {
    counter-reset: count;

    &.disable-selection > label {
      pointer-events: none;
      user-select: none;
      cursor: not-allowed;
    }
  }

  label {
    &.option {
      counter-increment: count;
  
      &::before {
        --tw-content: counter(count, upper-alpha);
        content: var(--tw-content);
        @apply flex justify-center items-center flex-shrink-0 size-10 text-grey-navy bg-light-grey rounded-md md:size-14;
      }
      
      /* Styles for correct answer */
      &.correct {
        @apply border-green;
      
        &::before {
          @apply bg-green;
        }
  
        & .checkmark {
          @apply block;
        }
      }
      
      /* Styles for wrong answer */
      &.incorrect {
        @apply border-red;
  
        &::before {
          @apply bg-red;
        }
  
        & .dismiss {
          @apply block;
        }
      }
    }
  }
}