@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300 500;
    font-display: swap;
    src: url(/fonts/Rubik-VariableFont_wght.ttf) format('truetype');
  }
  
  @font-face {
    font-family: 'Rubik';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Rubik-Italic-VariableFont_wght.ttf) format('truetype');
  }
}